name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.0'

    - name: Build
      run: go build -v ./...

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        args: --disable errcheck,unused

    - name: Test
      run: go test -race -coverprofile=coverage.out -covermode=atomic ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.out
        fail_ci_if_error: false
      
  benchmark:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.0'

    - name: Run Benchmarks (Performance Check)
      run: go test -bench=. -benchmem ./...
      
